.App {
  text-align: center;
  background-color: #fff;
  width: 100%;
}

#root{
  width: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  
}


/* width */
::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}

Body{
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  
}


.App-link {
  color: #61dafb;
}

