.Carrusel{
    
    
}
.bg-image{
    margin-top: 1.5vh;
}

.imagenCarrusel{
    height: 100vh; /* height of container */
    object-fit: cover;
    filter: brightness(80%);
}

.imagenCarruselProd{
    height: 50vh; /* height of container */
    object-fit: cover;
    filter: brightness(80%);
}