.Carrusel{
    
    
}
.bg-image{
    margin-top: 1.5vh;
}

.imagenCarrusel{
    height: 100vh; /* height of container */
    object-fit: cover;
    filter: brightness(80%);
    
}

.imagenCarruselProd{
    height: 50vh; /* height of container */
    object-fit: cover;
    filter: brightness(80%);
    
}

.carousel-indicators{
    z-index: 4 !important;
    color: white;
    bottom: 30vh !important;
    display: flex !important;
}

.carousel-indicators li{
    
    height: 4px;
    width: 74px;
    background-color: rgb(255,255,255);

}

li.active{
    color:black;
    background-color: rgba(12, 6, 6, 0.5);;

    
}