/* Add a black background color to the top navigation */
.topnav {
    background-color:rgba(0, 0, 0, .2);
    overflow: hidden;
    margin-bottom: -52px;
    z-index: 2;
    min-width: 362px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    
    color: #f2f2f2;
    /*text-align: center;*/
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    
    color: #E9971B;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    float: left;
    text-align: left;
    
  }

.productos{
    float: right;
  
}

.home {
    float: left;
    color: white;
}

.h5NavBar{
  padding-top: 10px;
}

.iconSocialIndivNav{
    padding-top: 10px;
    height: 3vh;
    max-height: 34px;
    min-height: 30px;
    padding-left: 2px;
    padding-right: 2px;
}

.Whatsapp:hover{
  border:15px solid #E9971B; 
}