*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

.popupWrapper{
    position: absolute;
    right: 30px;
    bottom:85px;
    max-width: 400px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

