.columnaDatos,
.top {
  color: rgb(230, 230, 230);
  z-index: 20;
}

.Producto {
  
}

.top {
  font-family: "Kiona-Regular";
  text-align: left;
  z-index: 20;
  margin-top: -10px;
  font-size: 2.5em;
  margin-left: calc(1.375rem + 1.5vh);;
  position:fixed;
}

.miniDesc {
  font-family: "CircularStd-Book";
  text-align: justify;
  font-size: 1em;
}

.titulo {
  font-family: "CircularStd-Black";
  text-align: left;
  font-size: 2em;
  text-align: center;
}

.imagen {
  border-radius: 25px;
  padding: 5px;
  max-width: 40vw;
  height: 70vh;
}

.descripcionCompleta {
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: "CircularStd-Book";
  color: white;
  z-index: 20;
  text-align: justify;
  font-size: 1em;
}

.Producto {
  height: 100vh;
  z-index: 20;
  /*filter: brightness(80%);*/
}

.left-arrowProducto {
  width:calc(1.375rem + 1.5vh)
}

.left-arrowProducto:hover {
  transform: scale(1.15);
}

.backgroundImagenProd{
  height: 200vh;
  width: 100vw;
  z-index:0 ;
  position: absolute;
  object-fit: cover;
  filter: brightness(40%) !important;
  filter: blur(8px);
  left: 0px;

}

.backgroundImagenSquare{
  height: 200vh;
  width: 100vw;
  z-index:0 ;
  position: absolute;
  object-fit: cover;
  filter: brightness(40%) !important;
  filter: blur(8px);
  left: 0px;

}

.columnaImagen{
  z-index: 20;
}

.algoBien{
  position: fixed;
  z-index: 40;
  width: 100vw;
  
  display: flex;
  padding-top: 2vh;
  padding-bottom: 2vh ;
  padding-left: calc(5vw + 10px);
  background-color: rgba(0, 0, 0, 0.322);
}

.ColumnasProd{
  top: max(15vh, 60px);
  position: absolute;
  right: 10px;
  left: 10px;
}

.imagen{
  object-fit: cover;
  margin-right: 10px;
}

.botonPDF{
  box-sizing: border-box;
  height: 25px;
  width: 85px;
  color: #FFF;
  font-family: "Kiona-Regular";
  font-size: 5px;
  line-height: 48px;
  text-align: center;
  background-color:  #E9971B;
  border-radius: 25px;
}

.imagenSmall {
  border-radius: 25px;
  padding: 5px;
  max-width: 80vw;
  height: 30vh;
  object-fit: cover;
  margin-right: 10px;
}

.descripcionCompletaSmall{
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: "CircularStd-Book";
  color: white;
  z-index: 20;
  text-align: justify;
  font-size: 1em;
}

.descripcionCompletaSquare{
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: "CircularStd-Book";
  color: white;
  z-index: 20;
  text-align: justify;
  font-size: 1.5em;
}

.tituloSquare{
  font-family: "CircularStd-Black";
  text-align: left;
  font-size: 4.5em;
  text-align: center;
}


@media only screen and (min-height: 900px) {
  
  .imagen {
    
    max-height: 400px;
  }
}

@media only screen and (max-height: 700px) and (max-width: 700px){
  
  .backgroundImagenProd{
    height: 200vh;
  
  }
}

@media only screen and (max-height: 600px) and (max-width: 900px){
  
  .backgroundImagenProd{
    height: 200vh;
  
  }
  .descripcionCompletaSquare{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: justify;
    font-family: "CircularStd-Book";
    color: white;
    z-index: 20;
    text-align: justify;
    font-size: .5em;
  }
  
  .tituloSquare{
    font-family: "CircularStd-Black";
    text-align: left;
    font-size: 1.5em;
    text-align: center;
  }
}

@media only screen and (max-height: 1000px){
  
  .backgroundImagenSquare{
    height: 200vh;
  
  }
}

@media only screen and (max-width: 450px) {
  
  .backgroundImagenProd{
    height: 200vh;
  
  }

  .top {
    margin-top: -0px;
    font-size: 1.5em;
    margin-left: calc(.475rem + 1.5vh);;
  }

  .left-arrowProducto {
    width:calc(.475rem + 1.5vh)
  }

  .algoBien{
    padding-top: 1vh;
    padding-bottom: 1vh ;
    padding-left: calc(5vw + 10px);
    background-color: rgba(0, 0, 0, 0.322);
  }
  
  .ColumnasProd{
    top: max(5vh, 60px);
    position: absolute;
    right: 10px;
    left: 25px;
  }
}

@media only screen and (max-width: 350px) {
  .descripcionCompletaSmall{
    font-size: 1em;
  }
}


@media only screen and (max-width: 350px) and (max-height: 500px){
  .descripcionCompletaSmall{
    font-size: .8em;
  }
  .descripcionCompletaSqure{
    font-size: .8em;
  }
}