.columnaDatos,
.top {
  color: rgb(230, 230, 230);
}

.Producto {
  background-color: rgb(8, 15, 13);
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  font-family: "Kiona-Regular";
  text-align: left;
  margin-left: 100px;
}

.miniDesc {
  font-family: "CircularStd-Book";
}

.titulo {
  font-family: "CircularStd-Black";
  text-align: left;
}

.imagen {
  border-radius: 25px;
  padding: 5px;
  height: 501px;
  width: 477px;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.descripcionCompleta {
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: "CircularStd-Book";
  color: white;
}

.Producto {
  height: 100vh;
}

.left-arrowProducto {
  width: 35px;
  height: 35px;
  margin-top: -5px;
}

.left-arrowProducto:hover {
  transform: scale(1.15);
}
