.columnaDatos,
.top {
  color: rgb(230, 230, 230);
  z-index: 20;
}

.Producto {
  
}

.top {
  font-family: "Kiona-Regular";
  text-align: left;
  z-index: 20;
  margin-top: -10px;
  font-size: 2.5em;
  margin-left: calc(1.375rem + 1.5vh);;
  position:fixed;
}

.miniDesc {
  font-family: "CircularStd-Book";
  text-align: justify;
  font-size: 2vw;
}

.titulo {
  font-family: "CircularStd-Black";
  text-align: left;
  font-size: 5vw;
  text-align: center;
}

.imagen {
  border-radius: 25px;
  padding: 5px;
  max-width: 40vw;
  height: 70vh;
}

.descripcionCompleta {
  margin-left: 0px;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: justify;
  font-family: "CircularStd-Book";
  color: white;
  z-index: 20;
  text-align: justify;
  font-size: 2vw;
}

.Producto {
  height: 100vh;
  z-index: 20;
  /*filter: brightness(80%);*/
}

.left-arrowProducto {
  width:calc(1.375rem + 1.5vh)
}

.left-arrowProducto:hover {
  transform: scale(1.15);
}

.backgroundImagenProd{
  height: 100vh;
  width: 100vw;
  z-index:0 ;
  position: absolute;
  object-fit: cover;
  filter: brightness(40%) !important;
  filter: blur(8px);
  left: 0px;

}

.columnaImagen{
  z-index: 20;
}

.algoBien{
  position: fixed;
  z-index: 40;
  width: 100vw;
  
  display: flex;
  padding-top: 2vh;
  padding-bottom: 2vh ;
  padding-left: calc(5vw + 10px);
  background-color: rgba(0, 0, 0, 0.322);
}

.ColumnasProd{
  top: max(15vh, 60px);
  position: absolute;
  right: 10px;
  left: 10px;
}

.imagen{
  object-fit: cover;
  margin-right: 10px;
}

.productoTotalsi{
  
}